body {
    background-color: white;
}

#outerFrame {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
}

#initObject {
	text-align: justify;
	border: 0px solid grey;
	width: 600px;
	height: 600px;
	transform: translate(25%, 17%);
    padding: 10px 10px 10px 10px;
}

.fileUpload {
    position: relative;
}

.fileUploadHidden {
	opacity: 0;
	position: absolute;
	top: 4px;
    left: 15px;
    width: 40px;
	z-index: 1;
}

#innerFrame {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.candleUp {
    fill: green;
}

.candleDown {
    fill: red;
}

.stemUp {
    stroke: green;
}

.stemDown {
    store: red;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.9;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    fill: black;
}

.weekendLine {
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 2px;
}

.bullPattern {
    fill: green;
    opacity: 0.5;
}

.bearPattern {
    fill: red;
    opacity: 0.5;
}
