body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  fill: black;
  position: relative;
}

label {
  	margin-right:15px;
	text-align: right;
	display: inline-block;
	width: 250px;
}

input {
  border: 1px solid grey;
  border-left-width: 3px;
  border-left-color: green;
  border-radius: 3px;
  padding: 2px 4px;
  text-align: left;
  display: inline-block;
  text-align: left;
}

input.dt {
	background: url(static/comment-author.gif) no-repeat scroll 7px 7px;
	padding-left:30px;
}

.initForm {
  text-align: left;
  border: 1px solid grey;
}

#outerFrame {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

#innerFrame {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}

.candleUp {
  fill: green;
}

.candleDown {
  fill: red;
}

.stemUp {
  stroke: green;
}

.stemDown {
  store: red;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.9;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    fill: black;
}
