body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  fill: black;
}

#outerFrame {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

#innerFrame {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}

.candleUp {
  fill: green;
}

.candleDown {
  fill: red;
}

.stemUp {
  stroke: green;
}

.stemDown {
  store: red;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.9;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    fill: black;
}
