<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<script src="/static/d3.v4.min.js"></script>
</head>

<body>

<script>
var svg = d3.select("body").append("svg").attr("width", 500).attr("height", 500),
    margin = {top: 40, right: 40, bottom: 40, left: 40},
    width = svg.attr("width") - margin.left - margin.right,
    height = svg.attr("height") - margin.top - margin.bottom;

// apply margin by creating g element with transform attribute
var g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// create function that returns 50 numbers from 0 to height
// d3.scalePoint has discrete domain
var y = d3.scalePoint()
    .domain(d3.range(50))
    .range([0, height]);

// create function that returns ten hsl color representations
// hsl(62->228, 100%->30%, 90%->20%)
var z = d3.scaleLinear()
    .domain([10, 0])
    .range(["hsl(62,100%,90%)", "hsl(228,30%,20%)"])
    .interpolate(d3.interpolateHcl);

// create enter selection of 50 new circles
// enter selection is empty so new circles need to be appended
g.selectAll("circle")
   .data(y.domain())
   .enter().append("circle")
    .attr("r", 25)
    .attr("cx", 0)
    .attr("cy", y)
    // apply circle colors
    // d returns bound data <0, 50>
    .style("fill", function(d) { return z(Math.abs(d % 20 - 10)); })
// apply transition of created circles
// transition smoothly interpolates elements from current state to target state over given duration
   .transition()
    // duration of one transition
    .duration(2500)
    // delay of given transition in ms; different for each circle
    .delay(function(d) { return d * 40; })
    // apply start event to created circles
    .on("start", function repeat() {
        // d3.active(this) returns active transitions of given selection
        d3.active(this)
              // move circles to left
             .attr("cx", width)
            .transition()
             // move circles to right
             .attr("cx", 0)
            .transition()
             // repeat transition at start position
             .on("start", repeat);
      });
</script>

</body>
</html>
