<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candlestick chart</title>
</head>

<link rel="stylesheet" href="/static/css/stylesheet.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

<body>

    <div style="text-align:center;">
        <svg id="container"></svg>
    </div>
    
    <script type="text/javascript" src="/static/js/d3.v5.min.js"></script>
    <script data-require="moment.js@2.10.2" data-semver="2.10.2" src="/static/js/moment.min.js"></script>
    <script data-require="moment-timezone-with-data@0.4.0" data-semver="0.4.0" src="/static/js/moment-timezone.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/initForm.js"></script>
    <script type="text/javascript" src="/static/js/engine.js"></script>

</body>
</html>
